Automated Course Registration & Notification System (n8n).json
{
  "name": "Automated Course Registration & Notification System (n8n)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Course Registration Form",
        "formDescription": "“আমাদের কোর্সে যোগ দিতে নিচের ফর্মটি পূরণ করুন। সঠিক তথ্য দিন যাতে আমরা সহজে আপনার সাথে যোগাযোগ করতে পারি। আমরা আপনার শেখার আগ্রহ এবং লক্ষ্য সম্পর্কে জানতে আগ্রহী।”",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Enter your full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Gmail Address",
              "fieldType": "email",
              "placeholder": "example@gmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Tell us about yourself",
              "placeholder": "Write a short introduction about yourself (education, skills, interests)",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -176,
        -144
      ],
      "id": "55d141be-8c7d-4010-b0a1-a71ff759ed33",
      "name": "On form submission",
      "webhookId": "75c79580-554c-4706-a64b-83b21342ac80"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OA5hzLPVyQaaxN1Od9HPtwj9rLXVtrWcEQq-5PrApVY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OA5hzLPVyQaaxN1Od9HPtwj9rLXVtrWcEQq-5PrApVY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json['Full Name'] }}",
            "Gmail": "={{ $json['Gmail Address'] }}",
            "About": "={{ $json['Tell us about yourself'] }}",
            "Submit Date": "={{ $json.submittedAt }}",
            "Submit Time": "={{ $json.submittedAt }}"
          },
          "matchingColumns": [
            "Gmail"
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "About",
              "displayName": "About",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submit Date",
              "displayName": "Submit Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submit Time",
              "displayName": "Submit Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -160
      ],
      "id": "0c1b4d9d-7c8c-426e-9896-c7f887bb4063",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bvUJ81qBzmXgO7Lj",
          "name": "Google Sheets account 370"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8793a486-dfc9-425f-b85c-9f968ee3bd0f",
              "leftValue": "={{ $json['Tell us about yourself'] }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -144
      ],
      "id": "c685fc13-ba62-48ac-b81f-3bf56b52cb02",
      "name": "If"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B0BH91JPJ",
          "mode": "list",
          "cachedResultName": "all-rokonur-jaman-riyad"
        },
        "text": "=hi {{ $('On form submission').item.json['Full Name'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "sendAsUser": ""
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        560,
        -160
      ],
      "id": "bbe0fe9e-764d-4bf7-9a6a-d10321a61359",
      "name": "Send a message",
      "webhookId": "904de144-394e-445b-998c-ec6491f8142c",
      "credentials": {
        "slackApi": {
          "id": "eDfQWSA9iSf2pXtl",
          "name": "Slack account 98"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Gmail }}",
        "subject": "hi",
        "message": "fdgsdf",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        64
      ],
      "id": "1fbeff2d-bbe0-4743-9ca3-82ff9ac140aa",
      "name": "Send a message1",
      "webhookId": "770350f0-ae4a-4876-bfca-aa0e9cf64f6d",
      "credentials": {
        "gmailOAuth2": {
          "id": "arIFwef3IbI8kWo6",
          "name": "Gmail account 304"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Full Name": "xz\\sc",
          "Gmail Address": "rj.riyad3077@gmail.com",
          "Tell us about yourself": "fdsa",
          "submittedAt": "2026-04-23T21:23:26.696+02:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "812c38f8-f257-417f-ad97-17b31f24d4e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50918ee0be4fd9ad8edd59da0eb4c4a6502c186d6a425a1cf635ba824838446e"
  },
  "id": "SXzUrroVvOWTJw0y",
  "tags": []
}